<template>
    <div>
        <div v-if="this.showRegister" class="form-container">
            <!-- Regitster model -->
            <p>Register</p>
            <el-form :model="ruleForm" status-icon ref="ruleForm" class="demo-ruleForm">
                <el-form-item prop="name">
                    <el-input v-model="ruleForm.name" placeholder="User Name"></el-input>
                </el-form-item>

                <el-form-item prop="email_address">
                    <el-input v-model="ruleForm.email_address" placeholder="Email Adress"></el-input>
                </el-form-item>

                <el-form-item prop="pass">
                    <el-input type="password" v-model="ruleForm.pass" placeholder="Password"></el-input>
                </el-form-item>

                <el-form-item prop="check_password">
                    <el-input type="password" v-model="ruleForm.check_password" placeholder="Check Password"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="submitForm()">submit</el-button>
                    <el-button type="success" @click="toLogin()">login</el-button>
                    <el-button  @click="resetForm('ruleForm')">reset</el-button>
                </el-form-item>
            </el-form>
        </div>

        <div v-else class="form-container">
            <!-- Login model -->
            <p>Login</p>
            <el-form :model="ruleForm" status-icon ref="ruleForm" class="demo-ruleForm">
                <el-form-item prop="email_address">
                    <el-input v-model="ruleForm.email_address" placeholder="Email Adress"></el-input>
                </el-form-item>

                <el-form-item prop="pass">
                    <el-input type="password" v-model="ruleForm.pass" placeholder="Password"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="loginForm()">Login</el-button>
                    <el-button type="success" @click="toRegiser()">Register</el-button>
                </el-form-item>
            </el-form>
        </div>
        
    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    import {mapState} from 'vuex'

    export default {
        data(){
            return {
                ruleForm: {
                    name: '',
                    email_address: '',
                    pass: '',
                    check_password: ''
                },
                showRegister: false               
            };
        },
        methods: {
            ...mapActions(['userRegister']),
            ...mapActions(['loginUser']),

            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            submitForm() {
                // prepare parameters object
                console.log("submit Form")
                if (this.ruleForm.pass == this.ruleForm.check_password){
                    const formData = {
                        name: this.ruleForm.name,
                        email: this.ruleForm.email_address,
                        password: this.ruleForm.pass
                    }
                    console.log(formData)
                    this.userRegister(formData)
                    .then(data => {
                        console.log(data)
                    })
                    .catch(error => {
                        console.log(error)
                        alert("Register Failure!")
                    })
                }
                // call user Register action

            },
            toLogin(){
                this.showRegister = false
            },
            loginForm(){
                //prepare parameters object
                if(this.ruleForm.pass != undefined && this.ruleForm.email_address != undefined){
                    console.log("lgoin:" + this.login_user)
                    if(this.login_user != undefined){
                        if( this.ruleForm.email_address == this.login_user.email){
                            alert("Already login")
                            return
                        }
                    }
                    const formData = {
                        email: this.ruleForm.email_address,
                        password: this.ruleForm.pass
                    }
                    this.loginUser(formData)
                    .then(data =>{
                        console.log(data)
                    })
                    .catch(error =>{
                        console.log(error)
                        alert("Password or email address not correct")
                    })
                }else{
                    alert("Please fill Email adress and Password")
                }
            },
            toRegiser(){
                this.showRegister = true
            }
            
        },
        computed:{
            ...mapState(["login_user"])
        }
    }
</script>

<style>

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.demo-ruleForm{
    align-self: center;
    width: 50%;
    height: auto;
}
</style>