<template>

    <div>
        <div>
            <el-form :inline="true" :model="searchForm" class="demo-form-inline">
                <el-form-item >
                    <el-input v-model="searchForm.q" placeholder="Search"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-select v-model="searchForm.type" placeholder="Filter Categorys">
                        <el-option
                        key=""
                        label=""
                        value="">
                        </el-option>
                        <el-option
                        v-for="item in categorys_options"
                        :key="item.categoryId"
                        :label="item.name"
                        :value="item.categoryId">
                        </el-option>
                    </el-select>
                </el-form-item>
                
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">Search</el-button>
                </el-form-item>
            </el-form>
        </div>

        <div class="data-container" style="background-color: red">
            
            <el-table
            :data="this.petitions"
            border
            :header-cell-style="tableHeaderColor"
            max-height="1100px"
            style="width: 80% margin: 0 padding: 0">
                <el-table-column
                fixed
                prop="title"
                label="Title">
                </el-table-column>

                <el-table-column
                prop="category"
                label="Category">
                </el-table-column>

                <el-table-column
                prop="authorName"
                label="Author's name">
                </el-table-column>

                <el-table-column
                prop="image_url"
                align="center"
                label="Hero image">
                    <template slot-scope="props">
                        <img style="width: 60%; height: 60%" :src="props.row.image_url"/>
                    </template>
                </el-table-column>

                <el-table-column
                prop="signatureCount"
                align="center"
                label="Number of signatures">
                </el-table-column>

                <el-table-column
                label="Operations">

                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">View</el-button>
                    <el-button type="text" size="small">Edit</el-button>
                    <el-button type="text" size="small">Delete</el-button>
                </template>
                </el-table-column>


            </el-table>

            
        </div>
    </div>
 
</template>

<script>
    import {mapActions, mapState} from 'vuex'

    export default {
        data() {
            return{
                petitions: [{
                    title: '',
                    category: '',
                    authorName: '',
                    image_url: '',
                    signatureCount:''
                }],
                 formInline: {
                    user: '',
                    region: ''
                },
                searchForm:{
                    q: "",
                    type: ""
                },
                categorys_options: []
            }
        },
        mounted(){
            this.getCategorys()
            .then(data =>{
                console.log("categorys data:" + data)
                console.log(this.categorys_info)
                console.log(this.petitions_info)
                this.categorys_options = this.categorys_info
            })
            .catch(error=>{
                console.log(error)
                alert("can not found categorys information")
            })
            this.getPetitions()
            .then(data =>{
                console.log("petitions data:" + data)
                console.log(this.petitions_info)
                this.petitions = this.petitions_info
            })
            .catch(error=>{
                console.log(error)
                alert("can not found petition information")
            })
        },
        methods: {
            ...mapActions(['getPetitions']),
            ...mapActions(['getCategorys']),
            tableHeaderColor({rowIndex}) {
                if (rowIndex === 0) {
                    return 'background-color: lightblue; text-align: center; font-size: 18px; '
                }
            },
            onSubmit() {
                console.log(this.searchForm.q);
                console.log(this.searchForm.type);
                let parameters = {}
                if (this.searchForm.q != undefined && this.searchForm.q.length > 0){
                    parameters.q = this.searchForm.q
                }
                console.log(this.searchForm.type)
                if (this.searchForm.type != undefined && this.searchForm.type != ""){
                    parameters.categoryId = this.searchForm.type
                }

                this.getPetitions(parameters)
                .then(data =>{
                    console.log("petitions data:" + data)
                    this.petitions = this.petitions_info
                })
                .catch(error=>{
                    console.log(error)
                    alert("can not found petition information")
                })
            },
        },
        computed:{
            ...mapState(['petitions_info','categorys_info']),
        }
        
    }
</script>

<style>
.data-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

</style>